@model HRBMSWEBAPP.Models.Invoice

@{
    ViewData["Title"] = "Details";
}
<div class="card">
    <div class="card-body">
<h1>Bookings Details</h1>

<div>
    <h4>Bookings</h4>
    <hr />
    <dl class="row">
        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
       <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.Room)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckOut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckOut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Room.Room_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Booking.Room.Room_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Room_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Room_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.DisplayStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
        

    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model?.Id">Edit</a> 
</div>

    </div>
</div>