@model IEnumerable<Invoice>

@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-body">
<h1>Index</h1>


            <a asp-action="Create" asp-controller="Invoice" class="btn btn-primary">Add Invoice</a>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Room.Room_Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category.Room_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Booking.CheckIn)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Booking.CheckOut)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Booking.Room.Room_Number)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Room_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
    </div>
</div>
@*

@model IEnumerable<Booking>

@{
    ViewData["Title"] = "Bookings";
}
<div class="card">
    <div class="card-body">
<h1>Bookings</h1>

<table class="table table-hover">
            <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayStatus)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>*@