@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "User List";
}


<div class="pagetitle">
    <h1>User</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item">User</li>
        </ol>
    </nav>
</div>

        @using (Html.BeginForm())
        {
            <div class="search-form row g-0">
                <div class="form-group col-10 search-pad">
                    @Html.TextBox("searchString", null, new { @class = "form-control", placeholder = "Enter Name" })
                </div>
                <div class="form-group col-2">
                    <input type="submit" value="Search" class="btn btn-custom btn-block" />
                </div>
            </div>
        }
        <br />
      @*  <tr>
            <td>
                &nbsp;
            </td>
        </tr>*@
        @*<a asp-action="Create" asp-controller="Users" class="btn btn-primary">Add New User</a>*@
 
     
<table class="table table-hover">
          
    <thead class="table-primary">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            
        
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
              
                <td>
                    <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                  @*  <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@

                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
       
        }
    </tbody>
</table>
<div>
    <a asp-action="Index" asp-controller="Home">Back to Home</a>
</div>
