@model HRBMSWEBAPP.Models.Booking

@{
    ViewData["Title"] = "Details";
}

<div class="pagetitle">
    <h1>Details</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item">Details</li>
        </ol>
    </nav>
</div>
<div class="card">
    <div class="card-body">
        <h1>Bookings Details</h1>

        <div>
            <h4>Bookings</h4>
            <hr />
            <dl class="row">

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Id)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.User.Full_Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.User.Full_Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Category.Room_Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Category.Room_Name)
                </dd>
                </dd>
          

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CheckIn)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CheckIn)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.CheckOut)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.CheckOut)
                </dd>
               @* <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Room.Status)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Room.DisplayStatus)
                </dd>*@


            </dl>
        </div>
        <div>
            <a asp-action="GetAllBookings" asp-route-id="@Model?.Id">Back To List</a>  |
            <a asp-action="Update" asp-route-id="@Model?.Id">Edit</a>
        </div>

    </div>
</div>