@model IEnumerable<Booking>

@{
    ViewData["Title"] = "GetAllBookings";
}

<link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

<!-- Template Main CSS File -->
<link href="~/css/stylesheet.css" rel="stylesheet">




<h1>GetAllBookings</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@*<div class="search-bar">
    <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
    </form>
</div><!-- End Search Bar -->
*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Full_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Room)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Full_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script src="~/vendor/apexcharts/apexcharts.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/vendor/chart.js/chart.umd.js"></script>
<script src="~/vendor/echarts/echarts.min.js"></script>
<script src="~/vendor/quill/quill.min.js"></script>
<script src="~/vendor/simple-datatables/simple-datatables.js"></script>
<script src="~/vendor/tinymce/tinymce.min.js"></script>
<script src="~/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="~/js/main.js"></script>