@model IEnumerable<RoomCategories>

@{
    ViewData["Title"] = "Room Categories";
}
<div class="card">
    <div class="card-body">
<h1>Room Categories</h1>
        <a asp-action="Create" asp-controller="RoomCategory" class="btn btn-primary">Add New Category</a>
<table class="table table-hover">
            <thead class="table-primary">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Room_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoOfRooms)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoOfRooms)
            </td>
            <td>
                <a asp-action="Update" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>